/* Work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@500;600;700&display=swap');

/* Shared style */


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans',
        sans-serif;
    font-family: 'Work Sans',
        sans-serif;
}

.text-gray-color {
    color: #727272;
    font-weight: 20rem;

}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    width: auto;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: 0px;
    cursor: pointer;
    padding: 20px 25px;
    font-weight: 700px;
}

.section-title {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}



header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    margin-left: 15px;
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);

}



.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
}



.banner img {
    width: 100%;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

main {
    width: auto;
    margin: 70px auto;
}

/* Feature section */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.8rem;
}

.team-title .text-gray-color {
    font-weight: 500;
}

.team-title .of-our {
    font-weight: 700;
    color: #131313;
}

.team-title .feature {
    color: #FF900E;
    font-weight: 700;
}

.team-content .btn-primary {
    padding-top: 20px;
}

.team-img-container {
    grid-template-columns: repeat(2, 1fr);
}

/* Facts container section style */

.facts-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 1.25rem;
    padding: 30px;
    width: 241.831px;
    height: 241.831px;
}

.facts-card-container .card-stats {
    color: #424242;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600px;
    margin: 10px 0px;
}

.facts-card-container .card-title {
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}


/* Sponsor section */
.sponsors {
    text-align: center;
}

.sponsor-img {
    display: flex;
    gap: 10px;


}

.sponsors .sponsor-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

footer {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    height: 50px;
    margin: 50px 30px;
    padding-top: 10px;
}



/* Responsive media style */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsors,
    .sponsor-img {
        align-items: flex-start;
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;

    }

    .team-content,
    .facts-card-container,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

}




/* Medium or Tablet devices */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 60px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsors,
    .flex-direction,
    .sponsor-img {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .team-content,
    .facts-card-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}